/*css Reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(to  right, rgb(14, 29, 233), rgb(245, 248, 200),rgb(175, 250, 145) );
 
}
/* DARK MODE */
#dark {
  background:linear-gradient(to bottom right ,gray, black);
  color: #f4eee0;
}

/* ======================= */
@media (max-width: 600px) {
  .footer {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}


